/*start gerneral styles*/


* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    --scrollbarBG: #ddd;
    --lightcolor: #f96a1a;
    --secondcolor: #f96a1a;
    --maincolor: #175ccf;
    --darkcolor: #333
}

@font-face {
    font-family: "light";
    src: url("../fonts/Cairo-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "bold";
    src: url("../fonts/Cairo-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}



body {
    margin: 0 auto;
    padding: 0;
    font-family: "light";
    scrollbar-width: thin;
    scrollbar-color: var(--darkcolor) var(--scrollbarBG);
    color: var(--darkcolor);
    direction: rtl;
    text-align: right;
}

.no-trans *:not(.loading *) {
    transition: none !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    animation: none !important;
    -webkit-animation: none !important;
}

body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--darkcolor);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}



body::-webkit-scrollbar {
    width: 11px;
}


::selection {
    background-color:transparent;
    color: var(--maincolor)
}

.main-wrapper {}

a,
button {
    cursor: pointer;
}

a:hover,
a:focus {
    text-decoration: none;
}

.decorate_link {
    text-decoration: underline;
}

label {
    font-weight: normal;
    margin-bottom: 10px;
    display: block;
    font-size: 18px;
    color: var(--darkcolor);
}

a:focus,
button:focus,
button:active,
select:focus,
input:focus {
    outline: 0 none;
}

p {
    color: #888;
    font-size: 15px;
    line-height: 32px;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
    line-height: 32px;
}

h4 {
    font-size: 16px;
}



h1,
h2,
h3,
h4,
h5 {
    font-weight: normal
}



ul {
    margin-left: 0;
    padding: 0;
    margin: 0;
}

.list-inline li {
    display: inline-block;
}

.list-unstyled li {
    display: block;
}

img,
object {
    max-width: 100%;
}

.text-left-dir {
    text-align: left;
}

.text-center-dir {
    text-align: center;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
}


input,
button {
    font-family: "light";
}

select.form-control:not([size]):not([multiple]) {
    height: 50px;
    padding-top: 0;
    padding-bottom: 0
}

.select2-container--bootstrap4 .select2-selection--single.select2-container--bootstrap4 .select2-selection,
.select2-container--bootstrap4 .select2-selection--single {
    height: 50px !important;
}

.select2-container .select2-search--inline .select2-search__field {
    margin-right: 5px;
    margin-left: 0;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
    padding: 0 0 0 5px;
    float: none;
    display: inline-block;
    margin-left: 5px;
    margin-right: 0;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block;
    width: auto;
}

.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 3px;
    margin-left: 1px;
    padding: 0;
    padding-left: 3px;
    padding-right: 3px;
    float: right;
    border: none;
    background: none;
}

.select2.select2-container.select2-container--bootstrap4.select2-container--focus .select2-selection__choice {
    color: #fff;
}

.select2-search--dropdown .select2-search__field {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__arrow {
    left: 3px;
    right: auto;
}

.form-control {
    background: #fff;
    box-shadow: none;
    height: 50px;
    width: 100%;
    color: #333333;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "light";
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.select2-container--bootstrap4 .select2-selection {
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.select2-container--bootstrap4 .select2-selection--single .select2-selection__rendered {
    line-height: 49px;
}

.select2-container--bootstrap4 .select2-dropdown.select-width {
    min-width: 100px;
}

.select2-results__option {
    padding: 10px 6px;
    border-bottom: 1px solid #eee;
}

.select2-results__option:last-of-type {
    border-bottom: none;
}

.form-control.select-input,
.form-control.select-input2 {
    color: #A4A4A4;
}

.form-control:focus,
.select2-container--bootstrap4.select2-container--focus .select2-selection {
    background: transparent;
    box-shadow: none;
    border-color: var(--maincolor);
    color: var(--maincolor);
}

.select2-container--bootstrap4 .select2-dropdown.select2-dropdown--below {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.select2-container--bootstrap4 .select2-results__option--highlighted,
.select2-container--bootstrap4 .select2-results__option--highlighted.select2-results__option[aria-selected=true] {
    background-color: var(--maincolor);
}

.select2-results__option {
    font-size: 15px;
}

.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #A4A4A4;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #A4A4A4;
}

.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #A4A4A4;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #A4A4A4;
}


.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #A4A4A4;
}


textarea.form-control {
    min-height: 150px;
    padding-top: 15px;
}

.big-inputs .select2-container--bootstrap4 .select2-selection--multiple {
    min-height: 50px !important;
}

.big-inputs .form-control,
.big-inputs .big-inputs .select2-container--bootstrap4 .select2-selection--single.select2-container--bootstrap4 .select2-selection,
.big-inputs .select2-container--bootstrap4 .select2-selection--single,
.big-inputs select.form-control:not([size]):not([multiple]) {
    height: 50px !important;
}


.no-marg-row {
    padding: 0;
    margin: 0
}

.starrisk {
    color: red
}


a,
button,
.nav-icon,
.slick-dots li button:before {
    -webkit-transition: all 0.5s linear 0s;
    -moz-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
    -ms-transition: all 0.5s linear 0s;
}

h1,
h2,
h3,
h4,
h5,
p,.product-img:before,.product-description,.product-img img,.new {
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
}

.footer-list li a::before ,.border-around,.border-around i,.custom-btn::before,.project-logo,.project-div{
    transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}






.custom-checkbox {
    position: relative;
    display: inline-block;
}

.custom-checkbox input,
.hidden-input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
    z-index: -9999;
}

.custom-checkbox input~label {
    position: relative;
    color: #AEAEAE;
    cursor: pointer;
}

.custom-checkbox input~label.second_color {
    color: var(--maincolor);
}

.custom-checkbox input~label:before {
    content: "";
    height: 22px;
    width: 22px;
    border-radius: 3px;
    border: solid 1px var(--maincolor);
    display: inline-block;
    top: 2px;
    position: absolute;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.custom-checkbox input~label:after {
    content: "\f00c";
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    font-size: 15px;
    top: 3px;
    position: absolute;
    color: var(--maincolor);
    opacity: 0;
    display: inline-block;
}

.custom-checkbox input:checked~label:before {
    background: var(--maincolor);
    border-color: var(--maincolor);

}

.custom-checkbox input:checked~label:after {
    opacity: 1;
    color: #fff;
    animation: rotateIn .3s linear both;
    -webkit-animation: rotateIn .3s linear both;
}

.custom-checkbox input:checked~label {
    color: #333;
}

.custom-checkbox input~label.dark-text {
    color: #333;
}

.circle-checkbox input~label {
    color: #333;
}

.circle-checkbox input~label:before {
    border-color: #A49E9E;
}

.circle-checkbox input~label::after,
.circle-checkbox input~label:before {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.circle-checkbox input:checked~label:before {
    background: transparent;
    border-color: var(--maincolor);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.circle-checkbox input~label::after {
    content: "";
    height: 14px;
    width: 14px;
    background: var(--maincolor);
    top: 6px;
    right: 3px;
}

.circle-checkbox input:checked~label:after {
    animation: zoomIn .1s linear both;
    -webkit-animation: zoomIn .1s linear both;
}

.circle-checkbox input:checked~label {
    color: #CBF5FF;
}

i {
    margin-left: 6px;
}

.gray-bg {
    background-color: #F6F6f6
}

.white-bg {
    background-color: #fff
}

.margin-div {
    padding-top: 50px;
    padding-bottom: 50px;

}

.margin-top-div {
    padding-top: 50px;
}


.margin-bottom-div {
    padding-bottom: 50px;
}


.dark-text {
    color: #333
}

.white-text {
    color: #fff
}

.has_seudo {
    z-index: 1;
    position: relative;
    overflow: hidden;
}

.has_seudo:before,
.has_seudo:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    right: 0;

}


b {
    font-family: "bold"
}

.hirozintal-scroll {
    overflow-x: hidden;
    overflow-y: auto
}

.hirozintal-scroll::-webkit-scrollbar-track {
    background-color: #51ceda;
}

.hirozintal-scroll::-webkit-scrollbar {
    width: 6px;
    background-color: #51ceda;

}

.hirozintal-scroll::-webkit-scrollbar-thumb {
    background-color: #03abbb;
}

.custom-btn {
    min-width: 170px;
    padding: 10px 10px 12px;
    display: inline-block;
    text-align: center;
    border: none;
    background: var(--maincolor);
    color: #fff;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.custom-btn::before {
    position: absolute;
    top: 50%;
    content: '';
    height: 200%;
    width: 150%;
    border-radius: 50%;
    right: -25%;
    margin: auto;
    z-index: -1;
    opacity: 0;
    transform: translateY(-50%) scale(0);
    -webkit-transform: translateY(-50%) scale(0);
    background-color: var(--secondcolor);
}

.custom-btn:hover::before {
    opacity: 1;
    transform: translateY(-50%) scale(1);
    -webkit-transform: translateY(-50%) scale(1);
    -moz-transform: translateY(-50%) scale(1);
    -ms-transform: translateY(-50%) scale(1);
    -o-transform: translateY(-50%) scale(1);
}

.custom-btn:hover {
    background-color: transparent;
    color: #fff;
}

.reverse-btn{
    background: var(--secondcolor);
}
.reverse-btn::before{
    background: var(--maincolor);
}
.full-width-btn {
    min-width: inherit;
    display: block;
    width: 100%
}



.section-title {
    position: relative;
    margin-bottom: 50px;
    display: block;
}

.section-title h2 {
    font-size: 25px;
    margin-bottom: 0;
}





.swal2-title {
    color: #000 !important;
    font-size: 20px !important;
    font-weight: normal !important;
    margin-bottom: 5px !important;

}

.swal2-styled:focus {
    box-shadow: none !important;
}

.swal2-styled {
    height: 40px;
    padding: 5px 20px 6px !important
}

.swal2-textarea.form-control:focus {
    background: #eee;
}

.swal2-validation-message {
    margin-bottom: 13px;
}

.swal2-styled.swal2-confirm {
    background-color: var(--maincolor) !important;
}

.swal2-styled.swal2-cancel {
    background-color: #000 !important;

}

.swal2-styled.swal2-cancel {
    box-shadow: none;
}


#swal2-content {
    text-align: center;
    color: #A4A4A4;
    font-size: 16px;
    margin-bottom: 30px;
    margin-top: 14px;
}

.bold-text {
    font-family: "bold";
}

.main_color,
.main_color_hover:hover {
    color: var(--maincolor)
}

.second_color,
.second_color_hover:hover {
    color: var(--secondcolor)
}

.third_color,
.third_color_hover:hover {
    color: #FFDA8F
}

.simple-btn {
    background: none;
    border: none;
}

.gray-color {
    color: #A49E9E;
}

.error {
    width: 100%;
    margin-top: .25rem;
    font-size: 14px;
    color: #dc3545 !important;
    font-family: "light";
    text-transform: lowercase;
}

.iti__flag-container {
    height: 40px;
}

.auto-icon i {
    margin: auto;
}

.two-btns {
    margin-top: 20px;
}

.two-btns a,
.two-btns button {
    vertical-align: middle;
    margin-top: 0;
}


input.no_apperance_number::-webkit-outer-spin-button,
input.no_apperance_number::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input[type="number"] {
    font-family: sans-serif;
}

.swal2-content~.swal2-actions {
    margin-top: 10px !important;
}


.tippy-tooltip {
    background-color: var(--darkcolor);
    color: #fff;
}

.tippy-popper[x-placement^=top] .tippy-arrow {
    border-top-color: var(--darkcolor);
}

.tippy-popper[x-placement^=bottom] .tippy-arrow {
    border-bottom-color: var(--darkcolor);
}

.tippy-popper[x-placement^=left] .tippy-arrow {
    border-left-color: var(--darkcolor);
}

.tippy-popper[x-placement^=right] .tippy-arrow {
    border-right-color: var(--darkcolor);
}