/*start header*/
.top-contact-bar {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

.top-bar-list a {
    color: var(--darkcolor);
}

.top-bar-list a:hover{
    color: var(--maincolor);
}
.top-bar-list li:not(:last-of-type):after {
    content: "|";
    padding-right: 8px;
    display: inline-block;
    padding-left: 8px;
}

.top-contact-phone a {
    display: inline-block;
    color: var(--darkcolor);
    padding: 5px 0;
    position: relative;
}




.top-contact-phone a:hover {
    color: var(--maincolor);
}

header {
    background: #fff;
    font-size: 17px;
    z-index: 99;
    position: relative;
}

.logo-grid {
    position: relative;
    z-index: 1;
}

.logo-grid img {
    max-height: 50px;
}

nav {
    margin-left: -20px;
}

nav>ul>li {
    position: relative;
    cursor: pointer;
    color: var(--darkcolor);
    z-index: 1;
    height: 130px;
    line-height: 130px;
    padding: 0 20px;

}



nav li:hover:before {
    width: 100%;
}

nav>ul>li:before {
    content: "";
    z-index: -1;
    background: var(--maincolor);
    position: absolute;
    height: 2px;
    width: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.menu-item-has-child:after {
    content: "\f078";
    font-family: "font awesome 5 free";
    z-index: -1;
    font-weight: bold;
    font-size: 12px;
    margin-right: 3px;
    display: inline-block;
    transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

nav ul li:hover::after {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

nav>ul>li>a {
    color: var(--darkcolor);

}

nav ul li:hover .main-submenu {
    opacity: 1;
    visibility: visible;
}

nav>ul>li:hover>a,
nav>ul>li:hover {
    color: var(--maincolor);
}


.main-submenu {
    text-align: right;
    position: absolute;
    top: 100%;
    background: #fff;
    width: 100%;
    margin: auto;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    right: -62px;
    border-top: 4px solid var(--maincolor);
    line-height: 30px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}


.main-submenu::-webkit-scrollbar-track {
    background-color: var(--maincolor);
}

.main-submenu::-webkit-scrollbar {
    width: 6px;
    background-color: #ddd;

}

.main-submenu::-webkit-scrollbar-thumb {
    background-color: #ddd;
}

.main-submenu a {
    display: block;
    padding: 10px;
    color: var(--darkcolor);
    font-size: 16px;
}

.main-submenu a:not(:last-of-type) {
    border-bottom: 1px solid #eee;

}


nav ul li:hover .main-submenu a {
    animation: fadeInDown .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    -webkit-animation: fadeInDown .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-submenu a:hover {
    background: var(--maincolor);
    color: #fff;
    border-bottom-color: var(--maincolor);
}


.nav-icon {
    width: 40px;
    height: 26px;
    position: relative;
    cursor: pointer;
    display: none;
}

.nav-icon span {
    display: block;
    height: 3px;
    width: 100%;
    background: var(--darkcolor);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.nav-icon span:not(:last-of-type){
    margin-bottom: 8px;
}


